// Tabular data specific styles
main {
  // background-color: #fcfdfe;
  display: grid;
  grid-template-columns: minmax(500px, 800px);
  grid-template-rows: 35px 35px 1fr 50px;
  gap: 8px;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  padding: 8px;
}

.btn-group {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.btn,
.btn-paginate {
  background-color: #f5f7f8;
  border-radius: 0;
  border: 1px solid #e7eaec;
  color: #575f64;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  height: 100%;
  padding-inline: 16px;

  &:hover {
    background-color: #3173D8;
    border-color: #3173D8;
    color: white;
  }

  &:disabled {
    color: #b6b6b6;

    &:hover {
      background-color: #f5f7f8;
      border-color: #e7eaec;
      color: #b6b6b6;
      cursor: not-allowed;
    }
  }
}

.btn-selected {
  background-color: #3173D8;
  border-color: #3173D8;
  color: white;
}

.btn-paginate {
  padding: 4px;
}

.users-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  overflow: auto;
  padding: 8px 4px;
  width: 100%;
}

.user-card {
  // border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(205, 205, 205, 0.3);
  color: #575f64;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  max-height: 80px;
  min-height: 80px;
  overflow: hidden;
  padding: 8px;

  &:hover {
    background-color: #f5f7f8;
  }
}

.user-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.user-email {
  color: #747779;
  font-size: 12px;
}

.user-job {
  color: #8d939c;
  flex: 1;
  font-size: 12px;
}

.list-toolbar {
  align-items: center;
  color: #575f64;
  display: flex;
  font-size: 13px;
  justify-content: space-between;
}

.paginated-users {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.paginate {
  align-items: center;
  display: flex;
  gap: 8px;
}

.mode-text,
.pages-count {
  color: #8d939c;
  font-size: 11px;
}

input {
  border: 1px solid #e8eaec;
  height: 35px;
  padding: 8px;
  width: 250px;

  &:focus,
  &:focus-visible {
    border: 1px solid #3173D8;
    border-radius: 0;
    outline-style: solid;
  }
}
